@use './_vars.scss' as vars;

.logo {
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    color: vars.$siteSelectorColor;
}

.header {
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 1rem;

    &__menu {
        display: flex;
        align-items: center;
        gap: 20px;
        border-bottom: 1px solid vars.$siteSelectorColorHover;
    }

    .btn_catalog {
        border: 1px solid vars.$siteSelectorColor;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        gap: 10px;

        &__img {
            stroke: vars.$siteSelectorColor;
            width: 25px;
            height: 25px;
            transition: stroke 0.3s;
        }

        &__text {
            color: vars.$siteSelectorColor;
            font-size: 16px;
            transition: color 0.3s;
        }

        &:hover {
            background-color: vars.$siteSelectorColorHover;
            cursor: pointer;

            .btn_catalog__img {
                stroke: white;
            }

            .btn_catalog__text {
                color: white;
            }
        }
    }


    .search-bar {
        display: flex;
        flex: 1;

        &__form {
            display: flex;
            align-items: center;
            border: 2px solid vars.$siteSelectorColor;
            border-radius: 10px;
            overflow: hidden;
            width: 100%;
        }

        &__input {
            flex-grow: 1; // Это обеспечит расширение поля ввода
            flex-shrink: 1; // Это обеспечит сужение поля ввода при нехватке места
            padding: 12px 16px;
            border: none;
            outline: none;
            font-size: 16px;
        }

        &__button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 7px 16px;
            background: white;
            border: none;
            cursor: pointer;

            &:hover {
                .search-bar__icon {
                    stroke: vars.$siteSelectorColor;
                    /* Новый цвет для иконки */
                }
            }
        }

        &__icon {
            width: 24px;
            height: 24px;
            stroke: rgb(164, 131, 160);
            /* Исходный цвет иконки */
            fill: none;
        }
    }

    .header__icons {
        display: flex;
        gap: 15px;
        align-items: center;

        .header-icon {
            text-decoration: none;
            color: #000;
            background: none;
            border: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 12px;
            cursor: pointer;
            transition: color 0.3s;
            transition: fill 0.3s;
        }

        .header-icon:hover {
            color: vars.$siteSelectorColorHover;
        }

        .header-icon:hover svg {
            fill: vars.$siteSelectorColor;

        }

        .header-icon img {
            width: 30px;
            height: 30px;
            margin-bottom: 5px;
        }


    }

    &__catalog-nav {
        /* Добавляем горизонтальную прокрутку */
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        flex-wrap: nowrap; // Позволяет категориям переходить на следующую строку

        a {
            color: black;
            text-decoration: none;
        }

        a:hover {
            color: vars.$siteSelectorColorHover;
        }
    }

}

@media (width: 1024px) {
    .search-bar__form {
        width: 220px;
    }
}

// Стили для планшетов
@media (width:768px) {
    .header {

        .search-bar__form {
            width: 120px;
            margin: 10px 0;
        }

        .header__icons {
            gap: 10px;
        }

        .header__catalog-nav {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
        }

        .header__catalog-nav a {
            padding: 5px 10px;
        }
    }
}

// Стили для мобильных устройств
@media (min-width: 320px) and (max-width: 425px) {
    .header {
        &__menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            padding: 0 15px;
            flex-wrap: wrap;
        }

        .logo {
            flex: 1;
            text-align: center;
        }

        .btn_catalog {
            width: 100%;
            margin-top: 10px;
            justify-content: center;
            padding: 12px;
        }

        .search-bar__form {
            width: 100%; // Позволяет элементу гибко растягиваться
        }

        .header__icons {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 10px;
            gap: 10px;
        }

        .header__catalog-nav {
            padding: 10px 0;
            display: flex;
            gap: 10px;
            overflow-x: auto; // Добавление горизонтальной прокрутки
        }

        .header__catalog-nav a {
            padding: 8px 0;
            flex-shrink: 0; // Предотвращает сжатие ссылок
        }
    }
}